@page "/"
@using Markdig
@inject HttpClient Http

<PageTitle>Blazor.Wasm.Demo</PageTitle>
<div>@MarkupString</div>

@code {
	protected override async Task OnInitializedAsync()
	{
		MarkupString = (MarkupString)Markdown.ToHtml(await Http.GetStringAsync("README.md"), new MarkdownPipelineBuilder().UseAdvancedExtensions().Build());

	}
	private MarkupString MarkupString { get; set; }
}